Repository Dsantiagomj/RumboApp: changes, and which lint-staged commands are due for each by the changed paths.
All: bash scripts/validate-code-standards.sh, eslint --fix, prettier --write

fix: Remove deprecated Husky v10 shebang lines from git hooks
  .husky/pre-commit
  .husky/pre-push
Due: none

fix: Temporarily skip unit tests in pre-push hook
  .husky/pre-push
Due: none

security: Fix 6 of 7 Dependabot vulnerabilities (86% resolved)
  package.json
  pnpm-lock.yaml
Due: prettier --write

docs: Add CI/CD setup guide and fix workflow issues
  .github/CICD_SETUP.md
  .github/workflows/ci.yml
Due: prettier --write

chore: Update pnpm lockfile from dependency security updates
  pnpm-lock.yaml
Due: none

fix: Regenerate pnpm lockfile to match package.json overrides
  pnpm-lock.yaml
Due: none

feat: Infrastructure improvements and production-ready enhancements
  .github/BRANCH_PROTECTION.md
  .github/CICD_SETUP.md
  .github/CONTRIBUTING.md
  .github/workflows/release.yml
  .releaserc.json
  README.md
  package.json
  pnpm-lock.yaml
  src/components/theme-toggle/index.tsx
  src/components/theme-toggle/theme-toggle.test.tsx
  src/components/ui/button.test.tsx
  src/lib/utils.test.ts
  tsconfig.json
  vitest.d.ts
Due: bash scripts/validate-code-standards.sh, eslint --fix, prettier --write

refactor: Reorganize documentation structure
  .claude/BRANCH_PROTECTION.md
  .github/CICD_SETUP.md
  .github/CONTRIBUTING.md
  README.md
Due: prettier --write

fix: Update .gitignore to track project documentation
  .claude/AGENTS_ACTIVE.md
  .claude/RULEBOOK.md
  .claude/component-standards.md
  .gitignore
  .rumbo/AUDIT_REPORT.md
  .rumbo/BACKLOG.md
  .rumbo/BUSINESS_MODEL.md
  .rumbo/CODE_STANDARDS.md
  .rumbo/COMPETITIVE_ANALYSIS.md
  .rumbo/FEATURES_BACKLOG.md
  .rumbo/GAP_ANALYSIS.md
  .rumbo/PATTERNS.md
  .rumbo/PRE_INITIALIZATION_CHECKLIST.md
  .rumbo/PROJECT_DEFINITION.md
  .rumbo/README.md
  .rumbo/RULEBOOK.md
  .rumbo/SCOPE.md
  .rumbo/SETUP_GUIDE.md
  .rumbo/TECHNICAL_REQUIREMENTS.md
  .rumbo/TECH_STACK.md
Due: prettier --write

Update .gitignore
  .gitignore
Due: none

fix: Remove pnpm version conflict in GitHub Actions
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
  .github/workflows/release.yml
  .github/workflows/security.yml
Due: none

style: Fix Prettier formatting on seed and auth files
  prisma/seed.ts
  src/server/auth/argon2.ts
  src/server/db/index.ts
Due: bash scripts/validate-code-standards.sh, eslint --fix, prettier --write

fix: Add postinstall script to generate Prisma Client in CI
  package.json
Due: prettier --write

fix: Exclude Prisma files from Next.js TypeScript build
  tsconfig.json
Due: prettier --write

fix: Remove Snyk condition to run on all security workflow triggers
  .github/workflows/security.yml
Due: none

fix: Run security workflow on feature branches and skip Lighthouse if build fails
  .github/workflows/ci.yml
  .github/workflows/security.yml
Due: none

fix: Properly check build job status before running Lighthouse
  .github/workflows/ci.yml
Due: none

fix: Exclude Prisma from ESLint and remove console statements from auth config
  eslint.config.mjs
  src/server/auth/config.ts
Due: bash scripts/validate-code-standards.sh, eslint --fix, prettier --write

fix: Include hidden files in build artifact upload for .next directory
  .github/workflows/ci.yml
Due: none

feat: Enable GitHub App token for Lighthouse CI integration
  lighthouserc.json
Due: prettier --write

fix: Install dependencies before OWASP check and make it non-blocking
  .github/workflows/security.yml
Due: none

fix: Upgrade Node.js version to 24 in GitHub workflows
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
  .github/workflows/release.yml
Due: none

feat: Complete Epic 1 Phase 1 - Backend Foundation (Auth System)
  .claude/RULEBOOK.md
  .rumbo/CODE_STANDARDS.md
  prisma/migrations/20260114145037_add_password_reset_token/migration.sql
  prisma/schema.prisma
  src/server/api/middleware/USAGE.md
  src/server/api/middleware/index.test.ts
  src/server/api/middleware/index.ts
  src/server/api/middleware/owner-check.ts
  src/server/api/middleware/role-check.ts
  src/server/api/root.ts
  src/server/api/routers/auth/index.test.ts
  src/server/api/routers/auth/index.ts
  src/server/api/routers/auth/procedures/login.ts
  src/server/api/routers/auth/procedures/logout.ts
  src/server/api/routers/auth/procedures/password-reset.test.ts
  src/server/api/routers/auth/procedures/register.ts
  src/server/api/routers/auth/procedures/request-password-reset.ts
  src/server/api/routers/auth/procedures/reset-password.ts
  src/server/api/routers/auth/schemas.test.ts
  src/server/api/routers/auth/schemas.ts
  src/server/api/routers/user/USAGE.md
  src/server/api/routers/user/index.test.ts
  src/server/api/routers/user/index.ts
  src/server/api/routers/user/procedures/get-profile.ts
  src/server/api/routers/user/procedures/update-profile.ts
  src/server/api/routers/user/schemas.ts
  src/server/api/trpc.ts
  src/server/lib/email.ts
  src/server/lib/tokens.ts
Due: bash scripts/validate-code-standards.sh, eslint --fix, prettier --write

test: Add comprehensive tests for email, token, and password reset utilities
  .env.example
  src/server/api/routers/auth/procedures/request-password-reset-logic.ts
  src/server/api/routers/auth/procedures/request-password-reset.test.ts
  src/server/api/routers/auth/procedures/request-password-reset.ts
  src/server/api/routers/auth/procedures/reset-password-logic.ts
  src/server/api/routers/auth/procedures/reset-password.test.ts
  src/server/api/routers/auth/procedures/reset-password.ts
  src/server/lib/email.test.ts
  src/server/lib/tokens.test.ts
Due: bash scripts/validate-code-standards.sh, eslint --fix, prettier --write

feat: Implement animated auth UI with mobile-first responsive design
  app/(auth)/layout.tsx
  app/(auth)/login/page.tsx
  app/(auth)/register/page.tsx
  app/(auth)/reset-password/[token]/page.tsx
  app/(auth)/reset-password/page.tsx
  src/features/auth/components/auth-hero/constants.ts
  src/features/auth/components/auth-hero/index.tsx
  src/features/auth/components/auth-hero/types.ts
  src/features/auth/components/form-checkbox/index.tsx
  src/features/auth/components/form-input/index.tsx
  src/features/auth/components/form-input/types.ts
  src/features/auth/components/form-password/index.tsx
  src/features/auth/components/login-form/index.tsx
  src/features/auth/components/password-reset-form/index.tsx
  src/features/auth/components/password-reset-request-form/index.tsx
  src/features/auth/components/register-form/index.tsx
  src/features/auth/components/social-auth-buttons/index.tsx
  src/features/auth/schemas/login-schema.ts
  src/features/auth/schemas/password-reset-request-schema.ts
  src/features/auth/schemas/password-reset-schema.ts
  src/features/auth/schemas/register-schema.ts
Due: bash scripts/validate-code-standards.sh, eslint --fix, prettier --write

feat: Connect auth forms to tRPC with custom hooks
  app/(auth)/login/page.tsx
  app/(auth)/register/page.tsx
  app/(auth)/reset-password/[token]/page.tsx
  app/(auth)/reset-password/page.tsx
  src/features/auth/hooks/use-auth.ts
  src/server/api/routers/auth/procedures/register.ts
  src/server/api/routers/auth/schemas.ts
Due: bash scripts/validate-code-standards.sh, eslint --fix, prettier --write

feat: Add page transitions with AnimatePresence
  app/(auth)/template.tsx
Due: bash scripts/validate-code-standards.sh, eslint --fix, prettier --write

feat: Add loading spinners and polish button animations
  src/components/ui/spinner.tsx
  src/features/auth/components/login-form/index.tsx
  src/features/auth/components/password-reset-form/index.tsx
  src/features/auth/components/password-reset-request-form/index.tsx
  src/features/auth/components/register-form/index.tsx
  src/features/auth/components/social-auth-buttons/index.tsx
Due: bash scripts/validate-code-standards.sh, eslint --fix, prettier --write

feat: Implement post-login onboarding flow (2-step KYC)
  app/(app)/onboarding/page.tsx
  src/features/onboarding/components/identity-verification-step/index.tsx
  src/features/onboarding/components/personal-info-step/index.tsx
  src/features/onboarding/components/progress-indicator/index.tsx
  src/features/onboarding/schemas/identity-verification-schema.ts
  src/features/onboarding/schemas/personal-info-schema.ts
Due: bash scripts/validate-code-standards.sh, eslint --fix, prettier --write

ux: Add cursor-pointer to all interactive buttons
  src/features/auth/components/login-form/index.tsx
  src/features/auth/components/password-reset-form/index.tsx
  src/features/auth/components/password-reset-request-form/index.tsx
  src/features/auth/components/register-form/index.tsx
  src/features/auth/components/social-auth-buttons/index.tsx
  src/features/onboarding/components/identity-verification-step/index.tsx
  src/features/onboarding/components/personal-info-step/index.tsx
Due: bash scripts/validate-code-standards.sh, eslint --fix, prettier --write

fix: Resolve circular dependency in tRPC middleware exports
  src/server/api/trpc.ts
Due: bash scripts/validate-code-standards.sh, eslint --fix, prettier --write

fix: Resolve build errors with framer-motion prerendering
  app/(app)/onboarding/onboarding-client.tsx
  app/(app)/onboarding/page.tsx
  app/(auth)/login/login-client.tsx
  app/(auth)/login/page.tsx
  app/(auth)/register/page.tsx
  app/(auth)/register/register-client.tsx
  app/(auth)/reset-password/[token]/page.tsx
  app/(auth)/reset-password/[token]/reset-password-client.tsx
  app/(auth)/reset-password/page.tsx
  app/(auth)/reset-password/reset-password-request-client.tsx
  next.config.ts
Due: bash scripts/validate-code-standards.sh, eslint --fix, prettier --write

feat: Add Storybook stories for auth and onboarding components
  src/components/ui/spinner.stories.tsx
  src/features/auth/components/form-checkbox/index.stories.tsx
  src/features/auth/components/form-input/index.stories.tsx
  src/features/auth/components/form-password/index.stories.tsx
  src/features/auth/components/login-form/index.stories.tsx
  src/features/auth/components/password-reset-form/index.stories.tsx
  src/features/auth/components/password-reset-request-form/index.stories.tsx
  src/features/auth/components/register-form/index.stories.tsx
  src/features/auth/components/social-auth-buttons/index.stories.tsx
  src/features/onboarding/components/identity-verification-step/index.stories.tsx
  src/features/onboarding/components/personal-info-step/index.stories.tsx
  src/features/onboarding/components/progress-indicator/index.stories.tsx
Due: bash scripts/validate-code-standards.sh, eslint --fix, prettier --write

feat: Add onboarding completion tracking to User model
  prisma/schema.prisma
  src/types/next-auth.d.ts
Due: bash scripts/validate-code-standards.sh, eslint --fix, prettier --write

feat: Update NextAuth config to track onboarding status
  src/server/auth/config.ts
  src/server/auth/middleware-config.ts
Due: bash scripts/validate-code-standards.sh, eslint --fix, prettier --write

feat: Add route protection middleware with onboarding flow
  middleware.ts
  scripts/validate-code-standards.sh
Due: bash scripts/validate-code-standards.sh, eslint --fix, prettier --write

feat: Add onboarding tRPC router with multi-step flow
  src/server/api/root.ts
  src/server/api/routers/onboarding/index.ts
  src/server/api/routers/onboarding/procedures/complete-identity-verification.ts
  src/server/api/routers/onboarding/procedures/save-personal-info.ts
Due: bash scripts/validate-code-standards.sh, eslint --fix, prettier --write

feat: Connect onboarding frontend to backend mutations
  app/(app)/onboarding/onboarding-client.tsx
  src/features/onboarding/schemas/identity-verification-schema.ts
Due: bash scripts/validate-code-standards.sh, eslint --fix, prettier --write

feat: Add app layout with logout button and dashboard page
  app/(app)/dashboard/page.tsx
  app/(app)/layout.tsx
  src/components/logout-button/index.tsx
Due: bash scripts/validate-code-standards.sh, eslint --fix, prettier --write

Path conditions:
  bash scripts/validate-code-standards.sh: any of: *.{js,jsx,ts,tsx}
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,md,css})
